body {
  background-image: url('imgs/martian_sitting.png');
  /*background-position: left-top;*/
  text-decoration: none;
  margin: 0;
}

header {
  height: 100px;
  text-decoration: none;
}
h1 {
  font-family: 'Teko';
  color: white;
  font-size: 80px;
  display: inline;
  text-decoration: none;
}

ul {
  float: right;
  margin: 25px 100px;
  text-decoration: none;
}

li {
  display: inline;
  font-family: 'Audiowide';
  color: white;
  font-size: 30px;
  padding: 0 20px;
  text-decoration: none;
}

/*body {
  max-width: 960px;
  margin: 0 auto;
}

.backgroundImage{
  background-size: cover;

}*/

span {
  color: purple;
}

article {
  display: inline-block;
  text-align: center;
  font-family: 'U', monospace;
  margin-right: 50px;
  color: white;
  margin-right: 10px;
  position: relative;
  left: 20px;
}

.contentWrapper1, .contentWrapper2, .contentWrapper3, .contentWrapper4 {
  width: 400px;
  height: 400px;
  background-color: rgba(48,48,48,0.75);
  margin: 0 auto;
  border: 3px solid black;
}

.colin, .hawa {
  width: 25%;
}
.andrew, .jonny {
  width: 25%;
  float: left;
}

/*.colin {
  width: 50%;
}
