body {
  background-image: url('imgs/matt_standing_resized.jpg');
  background-position: left-top;
}

header {
  height: 100px;
}
h1 {
  font-family: 'VT323';
  color: white;
  font-size: 50px;
  margin-top: 0;
  display: inline;
}

ul {
  float: right;
  margin: 25px 100px;
}

li {
  display: inline;
  font-family: 'Audiowide';
  color: white;
  padding: 0 20px;
}

.contentWrapper {
  width: 960px;
  height: 500px;
  background-color: rgba(48,48,48,0.75);
  margin: 0 auto;
  border: 3px solid black;
}

.playerInfo {
  height: 60px;
  border-bottom: 2px solid lightgrey;
  padding: 0 20px;
}

#playerName {
  font-size: 25px;
  color: lightblue;
  float: left;
}
#oxygen_stats, #water_stats {
  background-image: url("imgs/health_bar.png");
  background-repeat: no-repeat;
  padding: 0 30px;
  float: right;
}
.healthStats {
  float: right;
  margin: 20px 0;
  width: 450px;
}


#leftImg1 {
  width: 150px;
  height: 150px;
}

#centerImg1 {
  width: 150px;
  height: 150px;
}

#rightImg1 {
  width: 150px;
  height: 150px;
}

#q0,#q1,#q2,#q3,#q4,#q5,#q6,#q7,#q8,#q9,#q10,#q11,#q12,#q13,#q14 {
  color: white;
  display: none;

}

figcaption {
  font-size: 12px;
  width: 150px;
  margin: 0;
}

li {
  cursor: pointer;

}
#water_filter, #water_filter_order, #launch_assembly, #launch_assembly_order {
  display: none;
  clear: both;
}

#videoQ0, #videoQ4, #videoQ13{
  max-width: 600px;
  width: 400px;
  height: 400px;
  float: none;
  position: relative;
  left: 280px;
  top: -100px;
}

/*#q9bg {
  background-image: url("http://cdn.phys.org/newman/gfx/news/hires/468-20100306-6547-6-co-01-MagelhaensCrater_H1.jpg");
}*/
/************************
Q2 Styling
***********************/

#codeInput input[type=text], input[type=password]{
  background-color: rgba(55,55,55,0.75);
  border-color: black;
  text-align: center;
  color: lightgreen;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  height: 40px;
  width: 300px;
  margin: 0 auto;
  display: block;
}

#codeInput {
  margin-top: 60px;
}

#submitQ2 {
  background: none;
  border: none;
  color: lightgrey;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 20px;
  cursor: pointer;
}

/************************
Q3 Styling
***********************/

#water_filter_answer {
  width: 500px;
  margin: 40px auto;
  display: block;
  text-align: center;
  padding: 20px 20px 0 20px;
  border: 2px solid black;
}
select {
  background-color: rgba(203,203,203,0.75);
  border: 2px solid black;
  border-radius: none;
  width: 40px;
  height: 25px;
}

#submitQ3 {
  background-color: rgba(203,203,203,0.75);
  border: none;
  color: black;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  display: block;
  width: 400px;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
}

/************************
Q4 Styling
***********************/

.q4 {
  text-align: center;
}

.q4color{
  text-align: center;
  color: lightgreen;
}

/************************
Q5 Styling
***********************/

.q5 {
  margin: 10px;
}

.q5Ul {
  float: none;
  margin: 0;
}

.q5Li {
  width: 300px;
  display: block;
  float: none;
}

.q5Li input[type=text]{
  background-color: rgba(55,55,55,0.75);
  border-color: black;
  text-align: center;
  color: lightgreen;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  height: 40px;
  width: 300px;
  margin: 0 auto;
  display: block;
  float: left;
}

#q5Submit {
  background: none;
  border: none;
  color: lightgrey;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  display: inline;
  width: 200px;
  margin: 0 auto;
  padding: 20px;
  cursor: pointer;
  float: right;
}

/************************
Q6 Styling
***********************/

#q6Imgs {
  display: flex;
  justify-content: space-between;
}

#leftImg {
  width: 200px;
  height: 150px;
  color: lightgreen;
  font-size: 20px;
  display: inline-block;
  margin: 0 30px;
  padding: 20px;
  transition: color 300ms;
  transition: background-color 300ms;
  cursor: pointer;
}

#rightImg {
  width: 200px;
  height: 150px;
  color: lightgreen;
  font-size: 20px;
  display: inline-block;
  margin: 0 30px;
  padding: 20px;
  transition: color 300ms;
  transition: background-color 300ms;
  cursor: pointer;
}

#centerImg {
  width: 200px;
  height: 150px;
  color: lightgreen;
  font-size: 20px;
  display: inline-block;
  margin: 0 30px;
  padding: 20px;
  transition: color 300ms;
  transition: background-color 300ms;
  cursor: pointer;
}

#leftImg:hover {
  color:white;
  background-color: rgba(203,203,203,0.25);
}

#centerImg:hover {
  color:white;
  background-color: rgba(203,203,203,0.25);
}

#rightImg:hover {
  color:white;
  background-color: rgba(203,203,203,0.25);

}

/************************
Q7 Styling
***********************/

#submitQ7 textarea {
  height: 20px;
  width: 300px;
  background-color: rgba(55,55,55,0.75);
  color: lightgreen;
  border-color: black;
  font-family: 'Exo', sans-serif;
  text-align: center;
  font-size: 16px;
  display: block;
  margin: 0 auto;
}

#submitQ7 {
  margin: 100px auto;
}

#q7SubmitButton {
  background: none;
  border: none;
  color: lightgrey;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 20px;
  cursor: pointer;
  transition: color 300ms;
}

#q7SubmitButton:hover {
  color: lightgreen;
}

/************************
Q8 Styling
***********************/

#submitQ8 {
  display: block;
  width: 600px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

#leftImg8 {
  width: 250px;
  height: 50px;
  font-size: 25px;
  color: lightgreen;
  transition: color 300ms;
  transition: background-color 300ms;
  cursor:pointer;
}

#leftImg8:hover {
  color:white;
  background-color: rgba(203,203,203,0.25);
}

#rightImg8 {
  width: 250px;
  height: 50px;
  font-size: 25px;
  color: lightgreen;
  transition: color 300ms;
  transition: background-color 300ms;
  cursor:pointer;
}

#rightImg8:hover {
  color:white;
  background-color: rgba(203,203,203,0.25);
}

/************************
Q9 Styling
***********************/

#myImage {
  position: relative;
  z-index: 10;
  width: 60px;
}

#q9img {
  position: relative;
  margin-top: -31px;
  z-index: 0;
  width: 960px;
  height: 438px;
}

.q9 {
  position: relative;
  top: -410px;
  margin: 0 30px;
  padding: 10px;
  z-index: 5;
  background-color: rgba(55,55,55,0.75);
}

/************************
Q10 Styling
***********************/
