body {
  background-image: url('imgs/matt_standing_resized.jpg');
  background-position: left-top;
}

header {
  height: 100px;
}
h1 {
  font-family: 'VT323';
  color: white;
  font-size: 50px;
  margin-top: 0;
  display: inline;
}

ul {
  float: right;
  margin: 25px 100px;
}

li {
  display: inline;
  font-family: 'Audiowide';
  color: white;
  padding: 0 20px;
}

.contentWrapper {
  width: 960px;
  height: 400px;
  background-color: rgba(48,48,48,0.75);
  margin: 0 auto;
  border: 3px solid black;
}

#leftImg1 {
  width: 150px;
  height: 150px;
}

#centerImg1 {
  width: 150px;
  height: 150px;
}

#rightImg1 {
  width: 150px;
  height: 150px;
}

#q0,#q1,#q2,#q3,#q4,#q5,#q6,#q7,#q8,#q9,#q10,#q11,#q12,#q13,#q14 {
  color: white;
  display: none;

}

figcaption {
  font-size: 12px;
  width: 150px;
  margin: 0;
}

li {
  cursor: pointer;
  height: 150px;
}
