body{
  background-image: url("http://orig08.deviantart.net/552b/f/2016/120/6/e/the_martian_wallpaper_1920_x_1080_by_sachso74-da0tvum.jpg");
  font-family: 'VT323';
}
a {
  text-decoration: none;
}
h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 200;
}

#createUser {
  max-width: 25%;
}

#createUser input[type=text], input[type=password] {
  width: 300px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', monospace;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
  display: inline-table;
}

#createUser a {
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #a18d6c;
  text-align: center;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  margin-top: 10px;
  display: block;
}

#createUser input[type=text]:focus{
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.9);
}

#createUser input[type=button]:focus{
  outline: none;
}

::-webkit-input-placeholder{
  color: rgba(255, 255, 255, 0.6);
}

::-moz-input-placeholder{
  color: rgba(255, 255, 255, 0.6);
}
